build-bigclassroom-stu-Desktop_Qt_5_8_0_MSVC2015_32bit-Release/
build-bigclassroom-tea-Desktop_Qt_5_8_0_MSVC2015_32bit-Release/
build-bigclassroom-Desktop_Qt_5_8_0_MSVC2015_32bit-Release
*.autosave
*.pro.user*
.qmake.stash
vc140.pdb
debug
release
Makefile
Makefile.*
sdk
sdk.rar
build
